.navbar-brand {
  padding: 15px 30px;
  font-size: 19px;
}

.dropdown-toggle:focus {
  box-shadow: none;
}

.dropdown-item:focus {
  background-color: #212529;
}

.vr {
  height: 26px;
  margin-top: 13px;
}
